[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = {extras = ["daphne"], version = "*"}
django-cryptography = "*"
django-environ = "*"
websockets = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
